
*{
    color: white;
    
}

.container {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h4{
    font-weight: 500;
    font-size:xx-large;
}
.Procontainer {
    height: 40vh;
    width: 50vw;
    border: 1px solid #46c4bd;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding-top: 0vh;
    justify-content: center;

}
 p{
    font-family: 'Eczar', 'Roboto, Arial, sans-serif';
    font-style: italic;
}
.props {
    min-height: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
hr{
    width: 100%;
    border: 1px solid;
    color: #46c4bd
}